n8n-workflows/Ex 2/2. Ex2 OSINT+Phishing.json
{
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "e1-trigger",
      "name": "When Chat Message Received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -1200,
        400
      ],
      "webhookId": "ex2-phishing-flow"
    },
    {
      "parameters": {
        "jsCode": "const input = ($node[\"When Chat Message Received\"].json.chatInput || '').trim();\n\nconst fromPattern = /(?:on\\s+)?([\\w\\s]+?)\\s+(?:from|at)\\s+([\\w\\s.]+)/i;\nconst m = input.match(fromPattern);\n\nlet targetName = '';\nlet company = '';\n\nif (m) {\n  targetName = m[1].replace(/^(do\\s+osint\\s+on|do\\s+osint|osint\\s+on|osint|research|find|on)\\s+/i, '').trim();\n  company = m[2].trim();\n} else {\n  const parts = input.split(',');\n  targetName = parts[0].replace(/^(do\\s+osint\\s+on|do\\s+osint|osint\\s+on|osint|research|find|on)\\s+/i, '').trim();\n  company = parts.length > 1 ? parts[1].trim() : '';\n}\n\nreturn [{ json: { targetName, company, companyClean: company.toLowerCase().replace(/[^a-z0-9]/g, ''), originalInput: input } }];"
      },
      "id": "e1-parse",
      "name": "Parse Target Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -960,
        400
      ]
    },
    {
      "parameters": {
        "url": "=https://serpapi.com/search.json?engine=google&q={{ encodeURIComponent($json.targetName) }}+{{ encodeURIComponent($json.company) }}+site:linkedin.com&api_key=YOUR_SERPAPI_KEY",
        "options": {}
      },
      "id": "e1-linkedin",
      "name": "LinkedIn Search (SerpAPI)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -680,
        240
      ]
    },
    {
      "parameters": {
        "url": "=https://serpapi.com/search.json?engine=google&q={{ encodeURIComponent($json.targetName) }}+{{ encodeURIComponent($json.company) }}+(site:twitter.com+OR+site:facebook.com+OR+site:instagram.com)&api_key=YOUR_SERPAPI_KEY",
        "options": {}
      },
      "id": "e1-social",
      "name": "Social Media Search (SerpAPI)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -680,
        440
      ]
    },
    {
      "parameters": {
        "url": "=https://api.hunter.io/v2/domain-search?domain={{ $json.companyClean }}.com&limit=10&api_key=YOUR_HUNTER_IO_KEY",
        "options": {}
      },
      "id": "e1-hunter",
      "name": "Hunter.io Email Lookup",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -680,
        640
      ]
    },
    {
      "parameters": {
        "jsCode": "const res = Array.isArray($json.organic_results) ? $json.organic_results : [];\nreturn [{ json: { linkedin: res.filter(r => r.link && r.link.includes('linkedin.com')).slice(0,5).map(r => ({ title: r.title, url: r.link, snippet: r.snippet })) } }];"
      },
      "id": "e1-parse-li",
      "name": "Parse LinkedIn",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -400,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "const res = Array.isArray($json.organic_results) ? $json.organic_results : [];\nreturn [{ json: { social: res.slice(0,5).map(r => ({ title: r.title, url: r.link, snippet: r.snippet })) } }];"
      },
      "id": "e1-parse-social",
      "name": "Parse Social Media",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -400,
        440
      ]
    },
    {
      "parameters": {
        "jsCode": "const emails = Array.isArray($json.data?.emails) ? $json.data.emails : [];\nreturn [{ json: { emails: emails.slice(0,8).map(e => ({ email: e.value, name: (e.first_name||'')+' '+(e.last_name||''), position: e.position||'', department: e.department||'' })), pattern: $json.data?.pattern || '', org: $json.data?.organization || '' } }];"
      },
      "id": "e1-parse-hunter",
      "name": "Parse Hunter Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -400,
        640
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "e1-merge",
      "name": "Merge OSINT Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        -120,
        440
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_GROQ_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"model\": \"llama-3.3-70b-versatile\", \"messages\": [ { \"role\": \"system\", \"content\": \"You are a seasoned social engineer. Your task is to write ONE highly targeted, realistic phishing email based on the provided OSINT data about the target. The email should be ready to copy-paste. Include a compelling Subject line. Use psychological triggers (urgency, authority, or curiosity) based on their background. Do NOT include any introductory or explanatory text, just output the Subject and the Email Body.\" }, { \"role\": \"user\", \"content\": \"Target: \" + $node[\"Parse Target Input\"].json.targetName + \" from \" + $node[\"Parse Target Input\"].json.company + \"\\nOSINT Data:\\n\" + JSON.stringify($input.first().json) } ] } }}",
        "options": {}
      },
      "id": "e2-ai",
      "name": "AI Phishing Generator (Groq)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        120,
        440
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.choices && $json.choices[0] && $json.choices[0].message ? $json.choices[0].message.content : 'No email generated.';\nconst target = $node['Parse Target Input'].json.targetName || 'Unknown';\nconst company = $node['Parse Target Input'].json.company || 'Unknown';\nconst divider = '\\u2500'.repeat(43);\nconst report = '🎯 **Targeted Phishing Payload Generated**\\n👤 **Target:** ' + target + ' (' + company + ')\\n\\n' + divider + '\\n\\n' + raw + '\\n\\n' + divider + '\\n📌 *Ready to copy-paste. For authorized security assessment purposes only.*';\nreturn [{ json: { formattedReport: report } }];"
      },
      "id": "e2-format",
      "name": "Format Copy-Paste Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        360,
        440
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { output: $json.formattedReport || 'No report generated.' } }];"
      },
      "id": "e1-output",
      "name": "Final Chat Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        600,
        440
      ]
    }
  ],
  "connections": {
    "When Chat Message Received": {
      "main": [
        [
          {
            "node": "Parse Target Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Target Input": {
      "main": [
        [
          {
            "node": "LinkedIn Search (SerpAPI)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Social Media Search (SerpAPI)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Hunter.io Email Lookup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn Search (SerpAPI)": {
      "main": [
        [
          {
            "node": "Parse LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Social Media Search (SerpAPI)": {
      "main": [
        [
          {
            "node": "Parse Social Media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hunter.io Email Lookup": {
      "main": [
        [
          {
            "node": "Parse Hunter Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LinkedIn": {
      "main": [
        [
          {
            "node": "Merge OSINT Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Social Media": {
      "main": [
        [
          {
            "node": "Merge OSINT Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Hunter Data": {
      "main": [
        [
          {
            "node": "Merge OSINT Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge OSINT Data": {
      "main": [
        [
          {
            "node": "AI Phishing Generator (Groq)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Phishing Generator (Groq)": {
      "main": [
        [
          {
            "node": "Format Copy-Paste Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Copy-Paste Output": {
      "main": [
        [
          {
            "node": "Final Chat Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "04a0c6180ece4379afb4294db5383af326010135ebf38dffee3d7aeb8947e5fb"
  }
}